---

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
		<style>
			img {
				width: 200px;
				border: solid 1px black;
				margin: 10px;
			}
		</style>
	</head>
	<body>
		<h1>Astro</h1>
		<img alt="puppy" src="/protected/puppy.png?auth=true"/>
		<img alt="forbidden" src="/protected/puppy.png"/>
	</body>
</html>